@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-brand-bg text-brand-ink font-sans antialiased leading-relaxed;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-serif font-bold text-brand-ink;
  }
}

.step-content {
  @apply transition-opacity duration-500;
}